/* ::-webkit-scrollbar {

} */

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
	--nav-color:#4b5e2a;
	--main-background: #222;
	--main-text-color: white;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	min-height: 2rem;
	background: var(--nav-color);
}

nav ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

nav li {
	display: inline-block;
	margin-left: 1rem;
	padding-top: 1rem;
	padding-bottom: .25rem;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	color: var(--main-background);
}

nav a:hover {
	color: #000 !important;
	font-weight: bold;
}

@keyframes Zoomout {
	0% {transform: scale(1.2,1.2);}
	100% {transform: scale(1,1);}
}

/* Have to assign "overflow: scroll;" to parent but it messes things us :( */
/* main {
	scroll-snap-type: y mandatory;
}

.child {
	scroll-snap-align: start;
} */

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var;
	min-height: 100vh;
	max-width: 100%;
}

section h1,h2,h3,h4,h5 {
	color: var(--main-text-color)
}

section h1 {
	font-size: 7rem;
	text-align: center;
}

section h2 {
	font-size: 4rem;
}

section p,li {
	font-size: 1.5rem;
	color: var(--main-text-color)
}

section#Home {
	background: url(Mybackground.jpg) no-repeat center center/cover;
}

section#About {
	background-color: var(--main-background);
}

#About img {
	margin-top: -5%;
	border-radius: 50%;
	width: 13%;
	height: 15%;
	display: inline-block;
  }

.About {
	background-color: #4b5e2a;
	padding: 8%;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
  	border-radius: 1rem;
  	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.About p {
	margin-left: 20%;
}

section#Education {
	background: url(./Included/Images/Education.jpg) no-repeat center center/cover;
}

.Education {
	background-color: var(--main-background);
	margin-top: 3%;
}

.row {
	font-size: 1.25rem;
}

.column{
	width: 40%;

}

section#Projects {
	background: url(./Included/Images/Projects.jpg) no-repeat center center/cover;
	justify-content: baseline;
	height: 80%;
	width: 90%
}

.Projects {
	/* flex: none; */
	background-color: #4b5e2a;
  	/* border-radius: 0.5rem; */
  	/* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25); */
	height: 80%;
	width: 90%
}

.media-scroller {
	--spacer: var(--size-3);
	display: grid;
	gap: var(--spacer);
	grid-auto-flow: column;
	grid-auto-columns: 92%;
	padding: 0 var(--spacer) var(--spacer);
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	height: 80%;
	width: 60%
}

.media-element {
	display: grid;
	grid-template-rows: min-content;
	gap: var(--size-3);
	/* padding: var(--size-0); */
	background: var(--main-background);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
	height: 98%;
	width: 40%;
}

video {
	width: 55%;
}

.Project-title {
	padding-top: 2rem;
	font-size: 2.5rem;
}

.media-element p {
	font-size: 1.25rem;
}

.snaps-inline {
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
	scroll-snap-align: start;
}

.Projects a {
	color: var(--main-background);
	text-shadow: white;
}

.Projects a:hover {
	color: #000 !important;
	font-weight: bold;
}

section#CV {
	justify-content: baseline;
	background-color: var(--main-background);
}

section#CV h1 {
	flex: 1
}

.embed-responsive {
	width: 92%;
	padding-top: 0%;
	flex: 25
}

.flexible-container {
    position: relative;
    
    height: 0;
    overflow: hidden;
	padding-bottom: 100%;
}

.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#Contact {
	background: url(./Included/Images/Contact.jpg) no-repeat center center/cover;
}

.flex-item{
	width: 25%;
}

.Title{
	text-align: center;
	justify-content: center;
	opacity: 0.75;
	font-weight: lighter;
	text-shadow: .05rem .05rem white;
	position: relative;
	font-size: 1.5rem;
	color: var(--main-background);
}

.Name {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
	text-align: center;
	position: relative;
  	width: 100%;
	opacity: 0.75;
	font-weight: bold;
	text-shadow: .12rem .12rem white;
	color: var(--main-background);
}

html {
	font-size: 1rem;
	/* overflow: hidden; */
}

.mobile-only{
	visibility: hidden;
}

@media only screen and (max-width: 768px) {
	section h1 {
		font-size: 3.5rem;
	}

	.Name {
		flex:1;
		margin-left: -70%;
	}

	#About img {
		margin-top: -5%;
		border-radius: 50%;
		width: 30%;
		height: 32%;
	  }

	  .desktop-only {
		  visibility: hidden;
		  
	  }

	  .mobile-only {
		  visibility: visible;
		  flex:1
	  }
}

@media only screen and (max-width: 900px) {
	.Name {
		flex:1;
		margin-left: -70%;
	}

	.column{
		padding-left: 2rem;
		padding-right: 2rem;
		font-size: 0.75rem;
	}

	.Projects{
		justify-content: center;
	}
}

main {
	z-index: 100;
	flex-grow: 1;
}

/*Footer*/

footer {
	background-color: var(--nav-color);
	align-items: center;
	display: flex;
	height: 3rem;
	justify-content: center;
	position:sticky;
	width: 100%;
	top: 100%;
	z-index: 1;
  }
  
  footer li {
	display: inline-block;
	  text-decoration: none;
	text-transform: uppercase;
  }
  
  footer a {
	font-size: suto;
	color: white;
  }
  
  
  footer a:hover {
	color: #000;
  }

  .barba-once {
	  opacity: 0;
  }

  .barba-once-active {
	  transition: opacity 1s linear;
  }

  .barba-once-to {
	  opacity: 1;
  }