:root {
	--nav-color:#4b5e2a;
	--main-background: #222;
	--main-text-color: white;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	min-height: 2rem;
	background: var(--nav-color);
}

nav ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

nav li {
	display: inline-block;
	margin-left: 1rem;
	padding-top: 1rem;
	padding-bottom: .25rem;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	color: var(--main-background);
}

nav a:hover {
	color: #000 !important;
	font-weight: bold;
}

@keyframes Zoomout {
	0% {transform: scale(1.2,1.2);}
	100% {transform: scale(1,1);}
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var;
	min-height: 100vh;
	max-width: 100%;
}

section h1,h2,h3,h4,h5 {
	color: var(--main-text-color)
}

section h1 {
	font-size: 7rem;
}

section p,li {
	font-size: 1.5rem;
	color: var(--main-text-color)
}

section#Home {
	background: url(Mybackground.jpg) no-repeat center center/cover;
}

section#About {
	background-color: var(--main-background);
}

#About img {
	margin-top: -5%;
	border-radius: 50%;
	width: 20%;
	height: 19%;
  }

.About {
	background-color: #4b5e2a;
	padding: 8%;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
  	border-radius: 1rem;
  	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

section#Education {
	background: url(./Included/Images/Education.jpg) no-repeat center center/cover;
}

.Education {
	background-color: var(--main-background);
	padding: 2rem;
}

section#Projects {
	background: url(./Included/Images/Projects.jpg) no-repeat center center/cover;
}

.Projects {
	padding: 4rem;
}

.column{
	padding-left: 5rem;
	padding-right: 5rem;
}

section#CV {
	justify-content: baseline;
	background-color: var(--main-background);
}

section#CV h1 {
	flex: 1
}



.embed-responsive {
	width: 92%;
	padding-top: 0%;
	flex: 25
}

.flexible-container {
    position: relative;
    
    height: 0;
    overflow: hidden;
	padding-bottom: 100%;
}

.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#Contact {
	background: url(./Included/Images/Contact.jpg) no-repeat center center/cover;
}

section#HTNE {
	/* background-image: url(https://unsplash.com/photos/DuiPYwz3CBA) no-repeat center center/cover; */
}

.flex-item{
	width: 25%;
}

.Title{
	text-align: center;
	opacity: 0.75;
	font-weight: lighter;
	text-shadow: .05rem .05rem white;
	position: relative;
	font-size: 1.5rem;
	color: var(--main-background);
}

.Name {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
	text-align: center;
	position: relative;
  	width: 100%;
	opacity: 0.75;
	font-weight: bold;
	text-shadow: .12rem .12rem white;
	color: var(--main-background);
}

html {
	font-size: 1rem;
}

.mobile-only{
	visibility: hidden;
}

@media only screen and (max-width: 768px) {
	section h1 {
		font-size: 3.5rem;
	}

	.Name {
		flex:1;
		margin-left: -70%;
	}

	#About img {
		margin-top: -5%;
		border-radius: 50%;
		width: 30%;
		height: 32%;
	  }

	  .desktop-only {
		  visibility: hidden;
		  
	  }

	  .mobile-only {
		  visibility: visible;
		  flex:1
	  }
}

@media only screen and (max-width: 900px) {
	.Name {
		flex:1;
		margin-left: -70%;
	}

	.column{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.Projects{
		justify-content: center;
	}
}