:root {
	--nav-color:#4b5e2a;
	--main-background: #222;
	--main-text-color: white;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.navbar {
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	min-height: 2rem;
	background: var(--nav-color);
}

nav ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

nav li {
	display: inline-block;
	margin-left: 1rem;
	padding-top: 1rem;
	padding-bottom: .25rem;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	color: var(--main-background);
}

nav a:hover {
	color: #000 !important;
	font-weight: bold;
}

section h1,h2,h3,h4,h5 {
	color: var(--main-text-color)
}

section h1 {
	font-size: 7rem;
}

section p,li {
	font-size: 1.5rem;
	color: var(--main-text-color)
}

/*Main Content*/
main {
  position: relative;
  background-color: #222;
  color: white;
	font-size: 10px !important;
  text-align: center;
  padding-bottom: 25px;
}

hr {
	display: block;
  height: 1px;
  border: 0;
  border-top: 1px;
	background-color: white;
  margin: 1em 0;
  padding: 0;
}

#Prereq ul {
  list-style-position: inside;
}

.Instruction ul {
  list-style-position: inside;
}

.Instruction li {
  text-decoration: none;
  padding-top:3px;
}

.responsive {
  width: 60%;
  height: auto;
}

@media only screen and (min-width: 320px) {
  main {
    font-size: 18px !important;
  }
}

@media only screen and (min-width: 576px) {
  main {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 768px) {
  main {
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 992px) {
  main {
    font-size: 25px !important;
  }
}

/*Footer*/
footer {
  background-color: #556B2F;
	bottom: 0;
	width: 100%;
	text-align: center;
	width: 100%;
	min-height: 2rem;
	background: var(--nav-color);
}

footer li {
  display: inline-block;
	text-decoration: none;
  text-transform: uppercase;  
	margin-left: .25rem;
	padding-top: .25rem;
}

footer a {
  font-size: suto;
  color: white;
}


footer a:hover {
  color: #000;
  font-weight: bold;
}
